<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.com.bjsasc.plm.mapper.StudentMapper">

    <resultMap type="Student" id="StudentResult">
        <result property="innerId"    column="innerId"    />
        <result property="stuNo"      column="stuNo"    />
        <result property="name"       column="name"    />
        <result property="gender"     column="gender"    />
        <result property="isStaySchool"    column="isStaySchool" jdbcType="TINYINT" javaType="boolean"   />
    </resultMap>
    
    <sql id="selectStudentVo">
        select innerId, stuNo, name, gender, isStaySchool from sx_student
    </sql>
    
    <select id="selectList" parameterType="Student" resultMap="StudentResult">
        <include refid="selectStudentVo"/>
        <where>  
            <if test="innerId != null  and innerId != ''"> and innerId = #{innerId}</if>
            <if test="stuNo != null  and stuNo != ''"> and stuNo = #{resourceType} </if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
            <if test="isStaySchool != null  and isStaySchool != ''"> and isStaySchool = #{isStaySchool}</if>
        </where>
    </select>
 
    <select id="selectById" parameterType="String" resultMap="StudentResult">
        <include refid="selectStudentVo"/>
        where innerId = #{innerId}
    </select>

    <insert id="insert" parameterType="Student">
        insert into sx_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="innerId != null  and innerId != ''">innerId,</if>
            <if test="stuNo != null  and stuNo != ''">stuNo,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="gender != null  and gender != ''">gender,</if>
            <if test="isStaySchool != null  and isStaySchool != ''">isStaySchool,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="innerId != null  and innerId != ''">#{innerId},</if>
            <if test="stuNo != null  and stuNo != ''">#{stuNo},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="gender != null  and gender != ''">#{gender},</if>
            <if test="isStaySchool != null  and isStaySchool != ''">#{isStaySchool},</if>
         </trim>
    </insert>

    <update id="update" parameterType="Student">
        update sx_student
        <trim prefix="SET" suffixOverrides=",">
            <if test="stuNo != null  and stuNo != ''">stuNo = #{stuNo},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="gender != null  and gender != ''">gender = #{gender},</if>
            <if test="isStaySchool != null  and isStaySchool != ''">isStaySchool = #{isStaySchool},</if>
        </trim>
        where innerId = #{innerId}
    </update>

    <delete id="deleteById" parameterType="String">
        delete from sx_student where innerId = #{innerId}
    </delete>
    
</mapper>