<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.com.bjsasc.plm.mapper.SubmissionFormMapper">

    <resultMap id="BaseResultMap" type="main.com.bjsasc.plm.domain.SubmissionForm">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="creattime" column="creatTime" jdbcType="TIMESTAMP"/>
            <result property="creatuser" column="creatUser" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="notes" column="notes" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,creatTime,creatUser,
        name,notes
    </sql>

    <insert id="insertAndGetId" parameterType="SubmissionForm" useGeneratedKeys="true" keyProperty="id">
        insert into submission_form(name,create_time,create_user,notes)
        values(#{name},#{createTime},#{createUser},#{notes})
    </insert>
</mapper>
