<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsasc.plm.mapper.BaseLineMapper">
    <select id="getById" parameterType="Integer" resultType="DocumentVersion">
        SELECT * FROM document_version WHERE master_id IN (SELECT doc_id FROM baseline_link WHERE baseline_id = #{id}) AND version_no IN (SELECT version_no FROM baseline_link WHERE baseline_id = #{id} )
    </select>

</mapper>
