<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsasc.plm.mapper.DocumentMasterMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="documentMasterResultMap" type="com.bjsasc.plm.domain.DocumentMaster">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="status" property="status"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="note" property="note"/>
        <association property="version" column="master_id" javaType="com.bjsasc.plm.domain.DocumentVersion">
            <result column="vid" property="id"/>
            <result column="master_id" property="masterId"/>
            <result column="page_size" property="pageSize"/>
            <result column="iteration_no" property="iterationNo"/>
            <result column="version_no" property="versionNo"/>
            <result column="latest" property="latest"/>
        </association>
    </resultMap>

    <select id="selectDocumentAndVersion" resultMap="documentMasterResultMap">
        select m.*,v.id as vid,v.master_id,v.page_size,v.iteration_no,v.version_no,v.latest from document_master m,document_version v where v.master_id=m.id and v.latest=1
    </select>

</mapper>